.banner {
    position: relative;
    padding: 90px 0 120px 80px;
    font-size: 42px;
    line-height: 1.2;
    background: #f1f0ea;
}

.object1{
    display: flex;
    align-items: center; /* بيخلي النقطة والنص على نفس الخط العمودي */
    gap: 8px;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
    border: 1px solid rgb(186, 184, 184);
    border-radius: 20px;
    width: fit-content;
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.p1{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 9999px;
    background-color: black;

}

.p2{
    font-size: 14px;
}

.object2{
    margin: 20px 0px 20px 0px;
}

.hero-title,
.hero-title2,
.hero-title3,
.hero-title4 {
    /* width: -webkit-fit-content;
    width: -moz-fit-content; */
    width: fit-content;
    max-width: 100%;
    word-break: break-word;
    font-weight: 450;
}

.hero-title:hover,
.hero-title1:hover,
.hero-title2:hover,
.hero-title4:hover {
    font-style: italic;
}

.hero-title1 {
    display: flex;
    align-items: center;
    width: fit-content;
}

.hero-title2 {
    background-color: black;
    color: white;
    padding: 4px 6px;
    margin-bottom: -1px;
}

.hero-title3 {
    background-color: black;
    color: white;
    padding: 4px 8px;
}

.object3{
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

@media (max-width: 480px) {
    .banner{
        font-size: 30px;
        padding: 80px 0 120px 25px;
    }

    .hero-title1 {
    display: block;
}

}